.header {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  /* position: fixed;
  position: 0;
  z-index: 10; */
}

.container {
  width: 100%;
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.profileImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.profileImageButton {
  background-color: transparent;
  border: none;
}
